.nav-link{
    font-size: 30px;
    text-align: center;
    
}

.alinhamento{
    vertical-align: 20px;
}

.container{
    text-align: center;
    font-size: 20px;
}

.container-fluid{
    font-size: 30px;
    text-align: center;
}

.benvindo{
       padding-left: 100px;
}

.formaspag img{
    width: 30%;
}

.formaspag{
    list-style: none;
    text-align: center;
    font-size:20px;
}


.container-geral {
    display: flex;
}

.container-produtos {
    display:  flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: flex;
    align-items: flex-end;
    padding-left: 50px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.produtos {
    width: 150px;
}

.categoria{
    list-style: none;
}

.container-categoria{
    padding-left: 50px;
}

.table{
    padding-left: 50px;
}

.container_formularios{
    padding-left: 50px;
}